/* import googlefont */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans&display=swap');

/* Base styles */
*,
*:after,
*:before {
	box-sizing: border-box;
}
/* body {
	background: #000012;
}  */
.container-body {
	background: #000012;
}
.fluid-container {
	padding: 0 7em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
	font-family: 'DM Serif Display', serif;
}

p {
	color: #85899f;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.125rem;
}
.section_h2 {
	font-size: 2.5rem;
	line-height: 3rem;
}
.section_h3 {
	font-size: 1.5rem;
	line-height: 2.0625rem;
}

.nav_menu {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	padding: 0 0;
	background: #000012;
	z-index: 10;
}
.menu {
	margin: 0 6em 0 0;
}
.logo {
	width: 43px;
	height: 50.12px;
	margin: 1.3em 0 0 7em;
}
.menu_btn {
	width: 72px;
	height: 100px;
	background: #0079b7;
	color: #fff;
	border-radius: 0;
	text-align: center;
	text-transform: capitalize;
	cursor: pointer;
	border: none;
	margin-left: 2em;
}
.menu_btn:active {
	border: none !important;
}
.close_btn {
	width: 72px;
	height: 100px;
	background: #0079b7;
	border-radius: 0;
	text-align: center;
	display: none;
	text-transform: capitalize;
	cursor: pointer;
	border: none;
	color: #fff;
	margin-left: 2em;
}
.close_btn:active {
	border: none !important;
}

.menu_con.responsive {
	transform: translateY(95%);
	transition: 600ms;
	padding: 13em 3em !important;
	z-index: 1;
	width: 100%;
	margin-right: 2em;
}
.menu_con {
	position: absolute;
	bottom: -19%;
	/* display: none; */
	transform: translateY(-48%);
	width: 100vh;
	background: #000020;
}
p.menu_p {
	font-size: 4rem;
	color: #fff;
	padding: 0 2em;
	text-align: center;
	margin: -1.4em 0 0 0;
}
p.menu_p a {
	text-decoration: none;
	border-bottom: solid 1px #fff;
}

/*---------- section_one ----------*/

.section_one {
	padding-top: 7em;
	text-align: center;
}
.section_one_img_div {
	padding-bottom: -10em;
}
.section_one_img {
	width: 100%;
}
/* 
.section_one_des {
	margin: 2em auto;
} */
.section_one_p {
	margin: 0.5em 0;
}

/*------------- section_two ------------*/
.section_two{
	margin-top: 10em;
}
.section_two_des {
	margin: 3em 0 0;
	text-align: justify;
}
.section_two_img {
	width: 100%;
}
.long-dots{
	position: absolute;
	left: 85%;
}
.section_two_readmore_para {
	border-bottom: 0.5px solid #0079b7;
	display: inline;
}
.section_two_readmore {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1rem;
	line-height: 120%;
	color: #0079b7;
}
.section_two_readmore img {
	margin-left: 0.8;
}
.section_two_readmore:hover {
	text-decoration: none;
}

/*----------- section_three --------*/
.section_three {
	margin-top: 6em;
	position: relative;
}
.section_three_dot_img {
	position: absolute;
	top: -27%;
	right: 75%;
}
.section_three_box_con {
	padding: 0 !important;
}
.section_three_box_con_mobile {
	display: none;
}
.section_three_box {
	width: 172px;
	max-width: 172px;
	height: 253px;
	background: #575454;
	margin: 1em 0.5em 0;
}
.section_three_des {
	margin-top: 10em;
	text-align: justify;
	padding: 0;
}
/* a .section_three_btn{
	margin-right: left;
} */
.section_three_btn {
	font-size: 14px;
	background: #0079b7;
	border-radius: 2px;
	color: #fff6fe;
	width: 218px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 0.01em;
	padding-top: 4px;
	margin: 3em 0 0 12.25em;
}
.section_three_btn:hover {
	background: #007ab7be;
	color: #fff6fe;
	text-decoration: none;
}

/*----------- section_four --------*/
.section_four {
	padding: 5em 0;
}
.BankMe {
	text-align: right;
	padding: 0 2em 0 0;
	margin-top: 3em;
	padding-right: 0 !important;
}
.ewalle {
	padding-right: 0 !important;
}
.ahora {
	margin-top: 7.8em;
	text-align: right;
	padding-right: 0 !important;
}
.tick_it {
	margin-top: 7em;
}
.tick_it p {
	padding-right: 20em;
	font-size: .9rem;
}
.ahora p {
	padding-left: 20em;
	font-size: .9rem;
}
.ewalle p {
	font-size: .9rem;
	padding-right: 3em;
}
.BankMe p {
	font-size: .9rem;
	padding-left: 3em;
}
.section_four_tick_it_img {
	/* width: 580px;
	height: 410px; */
	width: 95%;
}
.section_four_ahora_img {
	/* width: 580px;
	height: 410px; */
	width: 100%;
}
.section_four_ewalle_img {
	/* width: 379px;
	height: 582px; */
	width: 88%;
}
.section_four_BankMe_img {
	/* width: 379px;
	height: 582px; */
	width: 95%;
}
/*----------- footer ---------*/
.footer::before {
	background: #06131a;
}
#footer {
	background: #06131a;
}
.footer-content {
	text-align: center;
	padding: 4.5em 10.625em;
	width: 100%;
}
.form_inline {
	display: flex;
	flex-flow: wrap;
	font-family: 'Open Sans', sans-serif;
	color: #85899f;
	background: #06131a !important;
}
.form_inline label {
	color: #85899f;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 120%;
	margin: -7px 0 5px 0;
}
.message_label {
	padding-top: 1em;
}
#message {
	padding-top: 1em;
}
.form_inline input {
	background: #06131a !important;
	border: none;
	border-bottom: 1px solid #0079b7;
	color: #85899f;
	margin: 0 1px 0 18px;
	font-size: .8rem;
}
.form_inline input,
textarea:active {
	outline: none;
	background: #06131a !important;
}

::-webkit-input-placeholder {
	color: #0079b7;
	font-weight: 600;
	font-size: 0.875rem;
}
.form_button {
	background: #0079b7;
	border-radius: 2px;
	color: #fff6fe;
	width: 98px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	margin-top: 3.625em;
	padding-top: 6px;
}
.form_button:hover {
	background: #007ab7be;
	color: #fff6fe;
	text-decoration: none;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;
}

.copyright {
	margin-top: 5em;
}

/* 
.
.
.
.
.
. 
*/

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
	p {
		font-size: .9rem;
	}

	.menu {
		margin: 0 1.5em 0 0;
	}
	.logo {
		width: 40px;
		height: 40px;
		margin: 1.3em 0 0 1.4em;
	}
	.menu_con.responsive {
		padding: 10em 2em !important;
	}
	.menu_con {
		transform: translateY(-279%);
	}
	.menu_btn {
		width: 68px;
		height: 100px;
	}
	.close_btn {
		width: 68px;
		height: 100px;
	}
	p.menu_p {
		font-size: 2rem;
	}
	p.menu_p {
		font-size: 2rem !important;
		color: #fff;
		padding: 0 0 0;
		text-align: center;
	}
	.section_h2 {
		font-size: 1.9rem;
		margin: 0.7em 0;
	}
	.section_one_img {
		width: none;
	}
	.section_two_img {
		width: none;
	}
	.section_two_readmore {
		font-size: 0.9rem;
	}
	.section_three_box_con_mobile {
		display: block;
		text-align: center;
	}
	.section_three_box_con {
		display: none;
	}

	.BankMe p {
		padding: 0 1em !important;
	}
	.tick_it p {
		padding: 0 1em !important;
	}
	.ahora p {
		padding: 0 1em !important;
	}

	.ewalle p {
		padding: 0 1em !important;
	}
	.section_four_tick_it_img {
		/* width: 300px;
		height: 200px; */
		width: 95%;
	}
	.section_four_ahora_img {
		/* width: 300px;
		height: 200px; */
		width: 100%;
	}
	.section_four_ewalle_img {
		/* width: 270px;
		height: 400px; */
		width: 88%;
	}
	.section_four_BankMe_img {
		/* width: 270px;
		height: 400px; */
		width: 95%;
	}
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
	.fluid-container {
		padding: 0 3em;
	}
	.menu {
		margin: 0 2em 0 0;
	}
	.logo {
		margin: 1.3em 0 0 3em;
	}
	.footer-content {
		padding: 4.5em 2em;
	}
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
	p.menu_p {
		font-size: 3rem;
		color: #fff;
		padding: 0 0 0;
		text-align: center;
	}
	.section_two_des {
		margin: 0 0 0;
	}
	.section_two_des {
		text-align: center;
	}
	.section_three_des {
		margin-top: 1em;
		text-align: center;
	}
	.section_three_dot_img {
		display: none;
	}

	.form_inline {
		flex-direction: column;
		align-items: stretch;
	}
	.form_inline label {
		margin: 11px 0 5px 0;
	}
	::-webkit-input-placeholder {
		font-size: .8rem;
	}
	.section_four {
		padding: 5em 0;
		text-align: center;
	}
	.ewalle {
		margin-top: 1em;
	}

	.BankMe {
		text-align: center;
		padding: 0;
		margin-top: 2em;
	}
	.ahora {
		margin-top: 2em;
		text-align: center;
	}
	.tick_it {
		margin-top: 2em;
	}
	.BankMe p {
		padding: 0 8em;
	}
	.tick_it p {
		padding: 0 8em;
	}
	.ahora p {
		padding: 0 8em;
	}

	.ewalle p {
		padding: 0 8em;
	}
	.fluid-container {
		padding: 0 4em;
	}
	.menu {
		margin: 0 2em 0 0;
	}
	.logo {
		margin: 1.3em 0 0 3em;
	}
	.footer-content {
		padding: 4.5em 2em;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1198px) and (min-width: 993px) {
	.section_four_tick_it_img {
		width: 500px;
		height: 350px;
	}
	.section_four_ahora_img {
		width: 500px;
		height: 350px;
	}
	.section_four_ewalle_img {
		width: 280px;
		height: 400px;
	}
	.section_four_BankMe_img {
		width: 280px;
		height: 400px;
	}
}
